<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" type="text/css">
    <title>Request Header Parser</title>
</head>
<body>
    <div class="container">
        <h1>Request Header Parser Microservice</h1>
        <hr>
        <h3>How to use this API:</h3>
        <p> a request to <a href="/api/whoami">/api/whoami</a> should return a JSON object like this
        <br>
        <br>
        <code>{"ipaddress":"::ffff:159.20.14.100","language":"en-US,en;q=0.5",<br>"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</code>
        </p>

    </div>
    <div class="footer">
        <p>
            by <a href="https://www.github.com/thatboyisharry">Harold Muchengeta</a>
        </p>
    </div>
    
</body>
</html>